@import 'jeet'
@import 'config'
@import 'mixins'

@import '../../../node_modules/normalize.css/normalize.css'


// edit()

html
  box-sizing border-box
  min-width $mainWidth
  background-color #fff
  font-size $baseFontSize

body
  font-family 'PT Sans Narrow', sans-serif

*,
*:before,
*:after
  box-sizing inherit
